/* GLOBAL STYLES FOR SMALLER SCREENS */
@media (max-width: 1267px) {
    body {
        height: 250vh;
    }

    html {
        scroll-behavior: smooth;
    }

    * {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }

    /* NAVIGATION BAR */
    .nav {
        padding: 3rem 0rem; 
        position: absolute; 
        background-color: rgba(0, 0, 0, 0);
    }

    .nav-links {
        display: none; 
        
    }

    .hamburger {
        display: block; 
        font-size: 1.5rem;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        cursor: pointer;
        transition: 0.2s ease;
    }

    .logo-1 {
        top: 0.9rem;
        left: 2.2rem;
        font-size: 1.3rem;
        
    }
    

    /* DROPDOWN MENU */
    .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        color: black;
        padding: 0.7rem;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        
    }

    .dropdown-content {
        position: absolute;
        background-color: rgb(220, 220, 220);
        min-width: 200px;
 
        border-radius: 10px;
        z-index: 1;
        right: 1px;
        top: 100%;
        max-height: 0;
        overflow: hidden;
        
        transition: 0.4s ease-in-out;
        
    }

    .dropdown-content a {
        color: black;
        text-align: center;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ffffff;
        
        
    }

    .dropdown:hover .dropdown-content {
        display: block;
        max-height: 500px;
        box-shadow: 1rem 1rem 50rem 50rem rgba(0, 0, 0, 0.5);
    }

    .dropdown:hover .dropbtn {
        background-color: white;
    }
}

/* MOBILE VIEW STYLES (UP TO 767px) */
@media (max-width: 767px) {
    /* GENERAL STYLES */
    .podnikatel, .cestovatel, .investor, .otec, .kontakt, .footer {
        background-color: white;
        
    }

    /* MAIN SECTION */
    .main {
        padding-top: 7.5rem; 
        background-color: rgb(255, 255, 255);
    }

    .main-text ul {
        padding-left: 0;
        list-style-type: none;
    }

    .main-text ul li h1 {
        font-weight: 650;
        font-size: 2.5rem;
    }

    .main-text ul li a {
        font-size: 1.8rem;
        transition: 0.5s ease;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .main-text ul li a:hover {
        background-color: rgba(175, 242, 248, 0.6);
        padding: 0.3rem;
        margin-left: 2.2rem;
        text-align: center;
        border-radius: 0.75rem;
    }

    /* POODNIKATEL (BUSINESS) SECTION */
    .podnikatel {
        height: auto;
        
    }

    .podnikatel h1 {
        padding: 5rem 0rem 0rem 2rem;
        font-size: 2rem;
        font-weight: 600;
    }

    .podnikatel p {
        padding: 1rem 2rem 1rem 2rem;
        font-weight: 350;
        font-size: 1rem;
    }

    .podnikatel h2 {
        padding: 1rem 2rem 0rem 2rem;
        font-weight: 750;
        font-size: 1.2rem;
    }

    .podnikatel h3 {
        padding: 1rem 2rem 0rem 2rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .investor-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    /* CESTOVATEL (TRAVELER) SECTION */
    .cestovatel {
        padding: 2rem 2rem 2rem 2rem;
        padding-top: 10rem;
    }

    .cestovatel h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    .content {
        flex-direction: column; 
        align-items: flex-start;
    }

    .text-content {
        padding-right: 0; 
        padding-bottom: 20px; 
        text-align: left;
    }

    .image-content {
        text-align: left;
        padding: 1rem 0rem;
    }

    .side-image {
        width: 100%;
    }

    /* INVESTOR SECTION */
    .investor {
        height: auto;
        padding-top: 10rem;
    }

    .investor h1 {
        padding: 1rem 2rem 1rem 2rem;
        font-size: 2rem;
        font-weight: 600;
    }

    .investor p {
        padding: 0.5rem 2rem 0rem 2rem;
        font-weight: 350;
    }

    .investor h2 {
        padding: 2.5rem 2rem 0rem 2rem;
        font-weight: 550;
    }

    .investor h3 {
        padding: 1.5rem 2rem 0rem 2rem;
    }

    /* OTEC (FATHER) SECTION */
    .otec {
        height: auto;
        padding-top: 10rem;
    }

    .otec h1 {
        padding: 5rem 2rem 0.25rem 2rem;
        font-size: 2rem;
        font-weight: 600;
    }

    .otec p {
        padding: 0.3rem 2rem 0rem 2rem;
        font-weight: 350;
    }

    .otec h2 {
        padding: 1.5rem 2rem 0rem 2rem;
        font-weight: 550;
    }

    

    /* KONTAKT (CONTACT) SECTION */
    .main-container {
        padding: 0;
    }

    .form-container {
        padding: 0 2rem;
        box-sizing: border-box;
        width: 80%;
    }

    .form-container h1 {
        font-size: 2rem;
    }

    .input-field {
        padding: 8px 10px;
        font-size: 14px;
    }

    .submit-button {
        padding: 10px 24px;
        font-size: 14px;
    }

    /* FOOTER SECTION */
    .footer {
        padding: 0px;
        background: white;
    }

    .footer .heading h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer .content > div {
        width: 100%;
        max-width: 550px;
    }

    .footer h4 {
        margin-bottom: 10px;
    }

    .footer p {
        margin: 5px 0;
    }

    .footer a {
        color: #000;
        text-decoration: none;
    }

    footer {
        text-align: center;
        padding: 20px 0;
    }

    @media (min-width: 768px) {
        .footer .content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .footer .content > div {
            width: auto;
            max-width: none;
        }
    }
}

@media (max-width: 767px) {
    .side-image {
        width: 100%; 
        height: auto; 
        max-width: 100%; 
    }

    
    .main-img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}


@media (min-width: 768px) {
    .side-image {
        width: 80%; 
        height: auto;
    }

    .main-img {
        width: 80%; 
        height: auto; 
    }
}
