*{
    padding: 0;
    margin: 0;
}



html{
    scroll-behavior: smooth;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.nav{
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 1.25rem 5rem;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: backdrop-filter 0.8s; 
}

.logo-1 a{
    color: black;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border-color: none;
}

.nav-links {
    gap: 4rem;
    display: flex;
    list-style: none;
    font-size: 1rem;
}

.nav-links li a {
    padding: 0.15rem 0.45rem;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: rgba(246, 246, 246, 0.5);
}
.nav-links li  a{
    text-decoration: none;
    color: black;

}

.nav-links li a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.15rem 5rem 0.15rem 5rem;
    box-shadow: 0.1875rem 0.1875rem 1.25rem rgba(68, 68, 68, 0.4);
}



.dropdown{ 
    display: none;
}
.logo-2{
    display: none;
}

.main {
    padding: 7.5rem 0rem 20rem 3rem; 
    background-color: rgb(255, 255, 255);
}

.main-text ul{
    padding-left: 5rem;
    list-style-type: none;
}

.main-text ul li h1{
    font-weight: 650;
    font-size: 6.5rem;
}

.main-text ul li a{
    font-size: 2.5rem;
    transition: 0.5s ease;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.main-text ul li a:hover{
    background-color: rgba(85, 85, 85, 0.2);
    padding: 0.3rem;
    margin-left: 2rem;
    text-align: center;
    border-radius: 0.75rem;
}

/* POODNIKATEL START */
.podnikatel{
    height: auto;
    
}

.podnikatel h1{
    padding: 7rem 15rem 1rem 8rem;
    font-size: 4rem;
    font-weight: 600;
}

.podnikatel p{
    padding: 0.4rem 15rem 0rem 8rem;
    font-weight: 350;
}
.podnikatel h2{
    padding: 1rem 15rem 0rem 8rem;
    font-weight: 550;
    font-size: 1.5rem;
}
.podnikatel h3{
    padding: 1rem 15rem 0rem 8rem;
    font-size: 1.2rem;
    font-weight: 450;
}


/* posnikatel end */
/* cestovatel start*/
.cestovatel{
    padding: 8rem;
}
.content-0 h1 {
    margin: 0;
    padding: 8rem 0rem 2rem 0rem;
    font-size: 4rem;
    font-weight: 600;
}
.text-content h1{
    font-size: 2rem;
    font-weight: 550;
}
.text-content h2{
    padding-top: 1rem;
}
.text-content p {
    padding-top: 1rem;
    
}

.button-container {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 10px;
    
}

.btn-link {
    text-decoration: none; 
}

.btn {
    padding: 0.7rem 1rem;
    margin-top: 1rem;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: left;
    justify-content: center; 
    text-decoration: none;
    transition: 0.3s ease-in-out;
    gap: 0.2rem;
    min-width: 12cap; 
    position: relative;
}

.btn-text {
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    display: inline-block; 
    z-index: 1; 
}

.btn:hover .btn-text {
    color: white; 
    opacity: 1; 
    transform: translateY(0); 
}

.btn:hover {
    background-color: black;
    color: white;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    padding: 1rem 5rem;
  
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;
}

.text-content {
    flex: 1;
    text-align: left;
    padding-right: 20px; 
}

.image-content {
    flex: 1;
    text-align: right; 
    padding-right: 150px;
}

.side-image {
    width: 70%;
    max-width: 70%;
    height: auto;
    border-radius: 0.5rem;
}


/* CESTOVATEL END */

/* INVESTOR START */
.investor{
    height: auto;
}

.investor h1{
    padding: 12rem 12rem 1rem 8rem;
    font-size: 4rem;
    font-weight: 600;
}

.investor p{
    padding: 0.5rem 15rem 0rem 8rem;
    font-weight: 350;
}
.investor h2{
    padding: 2.5rem 15rem 0rem 8rem;
    font-weight: 550;
}
.investor h3{
    padding: 1.5rem 15rem 0rem 8rem;
    
}
/* INVESTOR END*/

/* OTEC START */
.otec{
    height: auto;
    background-color: rgba(251, 251, 251, 0.295);
    padding: 2rem 0rem 2rem 0rem;
}

.otec h1{
    padding: 15rem 15rem 0.25rem 8rem;
    font-size: 4rem;
    font-weight: 600;
}

.otec p{
    padding: 0.3rem 15rem 0rem 8rem;
    font-weight: 350;
}
.otec h2{
    padding: 1.5rem 15rem 0rem 8rem;
    font-weight: 450;
}

.investor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* OTEC END */

/*Kontkt start */
.kontakt {
    height: auto;
    background-color: rgba(255, 255, 255, 0.295);
    padding: 5rem 0rem 10rem 0rem;
}

.margin-bottom {
    margin-bottom: 20px;
}
.input-field{
    padding-bottom: 4rem;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.form-container {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
}

.form-container h2 {
    padding: 0rem 0rem 2rem 0rem;
    font-size: 3rem;
    font-weight: 200;
}

.form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
}

.input-field {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}

.input-field:focus {
    border-color: #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.submit-button {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.submit-button:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

/*kontakt end*/

/* FOOTER START */
.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .heading {
    max-width: 10rem;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    
}

.footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}

.footer .content p {
    margin-bottom: 1.3rem;
    color: rgba(0, 0, 0, 0.829);
}

.footer .content a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.829);
}

.footer .content a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.829);
}

.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 1.1875rem;
}

footer {
    text-align: center;
    margin-bottom: 2rem;
}

footer hr {
    margin: 2rem 0;
}
footer h4{
    padding-top: 2rem;
    
}
footer h4 a{
    text-decoration: none;
    color: black;
}
/* FOOTER END*/
